@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato", serif;
}

/* shared style start here */

.btn-primary{
    color: rgb(255,255,255);
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;

    background: rgb(229, 84, 115);
    border: none;
    padding: 20px 43px 20px 43px;

    
}

/* first section design start here */

.container{
    background: rgba(229, 84, 115, 0.1);
     display: flex;
     padding: 20px;
     max-width: 1920px;
    
}

.container > div {
    width: 50%;
} 
.content-container{
    margin: 190px 97px 145px 240px;
    

}
.img-container{
    margin: 30px 200px 0 0;
    
}
.banner-title{
    font-weight: 800;
    font-size: 70px;
    line-height: 96px;
    color: rgb(39,39,39);
    margin-bottom: 32px;
}
.banner-description{
    color: rgb(39,39,39,0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}


/* first section design end here */


/* second section start here */

.our-features{
    max-width: 80%;
    /* border: 2px solid tomato; */
    margin: 0 auto;
    margin-top: 150px ;
    margin-bottom: 100px;
}
.features-contennt{
    text-align: center;
}
.section-title{
color: rgb(39, 39, 39);
font-family: Lato;
font-size: 40px;
font-weight: 800;
line-height: 48px;
letter-spacing: 0%;
margin-bottom: 20px;

    
}
.section-description{
    color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 30px;

}
.features-img{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}
.features-img img{
    padding: 76px;
}
.first-img{
   width: 30%;
    border-radius: 300px 300px 0px 0px;

background: rgba(167, 33, 98, 0.15);
}
.second-img{
    width: 30%;
    border-radius: 300px 300px 0px 0px;

background: rgba(5, 151, 160, 0.15);
}
.third-img{
   width:30% ; 
    border-radius: 300px 300px 0px 0px;

background: rgba(71, 125, 17, 0.15);
}


/* second section end here */

/* third section design start here */

.serve{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 0 auto;
    margin-top: 20px;
    padding: 50px;

}
.serve-title{
    color: rgba(39, 39, 39, 0.8);
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    margin-top: 10px;

}

/* third section end here */



/* fourth section start here */

.hot-deal{
    border-radius: 8px;

   background: rgba(229, 84, 115, 0.048);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 150px;

}
.hot-deal-content{
    text-align: center;
}


/* fourth section design end here  */



